* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    font-family: monospace;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.container {
    display: flex;
    /* column-gap: 30px;
    row-gap: 30px;*/
  
    gap: 30px;

    /* flex-direction:column-reverse;

     flex-wrap: nowrap; 

    justify-content: baseline;
    justify-content: end ;
    justify-content: left ;
    justify-content: space-evenly ;
    justify-content: space-around;  

    align-items: center; 
    align-items: center;*/

    height: 500px;
    border: 3px solid black;
}

.container .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background: black;
    color: crimson;
    font-size: 3em;
}

.container .box:nth-last-of-type(3){
    /* order: -1; */
    order: auto;
    /* order: 1; */
    align-self: end;
    align-self: center;
}

/* 
display: flex;
flex-direction:column-reverse;
flex-wrap: nowrap;
justify-content: space-evenly ;
align-items: 
gap
order
*/